
  {% extends 'base.html' %}

  {% block content %}
      <h1>Archive of Ours,</h1>
      <h1>All Your Disgusting Heart Desires</h1>
      
      <h5>Writer's Name</h5>
      <p>{{name}}</p>
      <h5>Class: PBP C</h5>
    
      <table border = "1">
          <tr>
              <th>Title</th>
              <th>Amount</th>
              <th>Description</th>
              <th>Word Count</th>
              <th>Genre</th>
              <th>Character Source</th>
          </tr>
      
          {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
      
          {% for item in items %}
              <tr>
                  <td>{{item.title}}</td>
                  <td>{{item.amount}}</td>
                  <td>{{item.description}}</td>
                  <td>{{item.word_Count}}</td>
                  <td>{{item.genre}}</td>
                  <td>{{item.character_Source}}</td>
                  
              </tr>
          {% endfor %}
      </table>
      
      <br />
      
      <a href="{% url 'main:create_item' %}">
          <button>
              Request Commision
          </button>
      </a>
      
      <h5>Sesi terakhir login: {{ last_login }}</h5>

      <a href="{% url 'main:logout' %}">
          <button>
              Logout
          </button>
      </a>

{% endblock content %}
